@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Diphylleia', serif; */
/* font-family: 'Noticia Text', serif; */
/* font-family: 'Rokkitt', serif; */

body{
    overflow-x: hidden;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#site-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(29, 29, 29);
    background: transparent;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

#site-link:hover{
    color: white;
    background: black;
    transition-duration: .2s;
    padding: 5px;
    font-size: 16.4px;
}

/* header */
#header{
    width: 102%;
    margin-left: -10px;
    transition-duration: 0.2s;
    position: fixed;
    z-index: 1;
    height: 51px;
}

#menu-btn{
    display: none;
}

#header.scrolled1{
    /*background: #A7ABB4;*/
    background: #4F6624;
    transition-duration: 0.3s;
}

#header.scrolled2{
    background: #e1e1e1;
    transition-duration: 0.32s;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 51px;
}

#h-logo{
    width: 78px;
    margin-left: 100px;
}

#header_links{
    margin-left: 61.4%;
    margin-top: -58px;
}

#header_links_menu{
    display: none;
}

#hl1{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: black;
    background: transparent;
    text-decoration: none;
    margin-left: 28px;
}

#hl{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: black;
    background: transparent;
    text-decoration: none;
    margin-left: 28px;
}

#hl:hover{
    color: white;
    background: black;
    transition-duration: .2s;
    padding: 5px;
    font-size: 13px;
}

#hl1:hover{
    color: white;
    background: black;
    transition-duration: .2s;
    padding: 5px;
    font-size: 13px;
}


/* static 1 */
#static{
    margin-top: -8px;
    padding-top: 108px;
    width: 103%;
    margin-left: -8px;
    padding-bottom: 150px;

    background-image: url("images/mare.jpg");
    background-attachment: fixed;
    background-position: center;
    background-position-y: center;
    background-size: cover;
}

#st-con{
    margin-left: 180px;
    margin-top: 65px;
    background-color: rgba(241, 241, 241, 0.94);
    border-radius: 21px;
    width: max-content;
    padding: 45px;
    padding-top: 60px;
    padding-bottom: 55px;
}

#st-title{
    font-family: "Rokkitt", serif;
    font-weight: 800;
    font-size: 78px;
    color: rgb(36, 36, 36);
    margin: 0;
}

#st-cap{
    font-family: 'Rokkitt', serif;
    font-weight: 500;
    font-size: 22px;
}



/* */
#real{
    width: 101.5%;
    margin-left: -8px;
    padding-bottom: 320px;
    padding-top: 155px;

    background-image: url("images/wedding castle.jpg");
    background-attachment: fixed;
    background-position: center;
    background-position-y: center;
    background-size: cover;
}

#real-con{
    text-align: center;
}

#real-con2{
    margin-top: 330px;
    width: auto;
}

#real-cap{
    position: absolute;
    margin: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    background: rgba(225, 225, 225, 0.899);
    border-radius: 21px;
    width: 62.3%;
    margin-top: 85px;
    padding: 18px;
}

#real-title{
    font-family: "Rokkitt", serif;
    font-weight: 700;
    font-size: 42px;
    color: rgb(40, 40, 40);
    background-color: rgba(225, 225, 225, 0.899);
    border-radius: 21px;
    width: auto;
    margin-inline: 18%;
    text-align: center;
    padding: 20px;
}

#real-title2{
    font-family: "Rokkitt", serif;
    font-weight: 700;
    font-size: 42px;
    color: rgb(40, 40, 40);
    background-color: rgba(225, 225, 225, 0.899);
    border-radius: 21px;
    width: auto;
    margin-inline: 18%;
    text-align: center;
    padding: 20px;
}

#real-con-bottom{
    margin-left: 18%;
    margin-top: 55px;
    width: auto;
}

#real-con-bottom-box1, #real-con-bottom-box{
    float: left;
    width: 21%;
    height: max-content;
    background-color: rgba(225, 225, 225, 0.793);
    border-radius: 21px;
    height: max-content;
    padding: 6px;
}

#real-con-bottom-box1{
    margin: 0px;
}

#real-con-bottom-box{
    margin-left: 62.5px;
}

#real-con-bottom-text{
    font-family: "rokkitt", serif;
    font-weight: 500;
    font-size: 20px;
}

/* video bg yt */
#video_bg-container{
    padding: auto;
    border-bottom: 2px solid gray;
    width: 101.4%;
    margin-left: -8px;
    padding-bottom: 3.2px;

    background: rgb(20, 20, 20);
    background-attachment: fixed;
    background-position: center;
    background-position-y: center;
    background-size: cover;
}

#bg-video{
    width: 100%;
    height: 550px;
    margin: 0;
}

#video_bg-cap{
    position: absolute;
    width: max-content;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -1285px;
    margin: auto;
}

#video_bg-button{    
    background-color: #FFCC00;
    border: 3px solid #FFCC00;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 30px;
    width: 120px;
    height: fit-content;
    outline: none;
    text-align: center;
}

#video_bg-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: transparent;
    text-decoration: none;
}

#video_bg-button:hover{
    background: transparent;
    transition-duration: 0.2s;

    #video_bg-link{
        color: yellow;
        transition-duration: .2s;
    }
}


/* Portfolio refference */
#static-portf{
    margin-top: -8px;
    padding-top: 108px;
    width: 101.5%;
    margin-left: -8px;
    padding-bottom: 120px;

    background-image: url(images/munte.jpg);
    background-attachment: fixed;
    background-position: center;
    background-position-y: center;
    background-size: cover;
}


/* footer */
#footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(22, 22, 22);
    width: 101.8%;
    margin-left: -8px;
    margin-bottom: -8px;
}

#f-cap{
    margin-inline: 12%;
}

#f-logo{
    width: 100px;
}

#social-img{
    width: 30px;
}

#footer-text{
    color: rgb(200, 200, 200);
    font-size: 14px;
    font-family: 'Noticia Text', serif;
}

#f-link{
    color: rgb(200, 200, 200);
    font-size: 14px;
    font-family: 'Noticia Text', serif;
    text-decoration: underline;
    text-decoration-color: white;
}

#f-link:hover{
    color: rgb(255, 73, 73);
    text-decoration-color: rgb(255, 65, 65);
    transition-duration: .2s;
}


/* Responsive */
@media only screen and (max-width: 1130px) {
    #st-con{
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1050px){
    body{
        overflow-y: none;
    }

    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #site-link{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: rgb(29, 29, 29);
        background: transparent;
        text-decoration: underline;
        text-decoration-color: black;
        text-decoration-thickness: 1.8px;
    }

    /* header */
    #header{
        width: 103.2%;
        background-color: #e1e1e1;
        position: relative;
        background: #acc67b00;
        top: -8px;
        left: 2px;
        height: max-content;
        transition-duration: 0.2s;
    }

    #header_links{
        display: none;
    }

    #header_links_menu.menu-on{
        display: block;
    }

    #header_links_p{
        line-height: 40px;
        text-align: center;
    }

    #h-logo{
        margin-left: 35px;
        margin-top: 2.2px;
    }

    #menu-btn{
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        right: 0;
        margin: auto;
        margin-right: 18px;
        top: 31px;
        outline: none;
        border: none;
        background: transparent;
        padding: 4px;
        opacity: 100%;
        transition-duration: .15s;
    }

    #menu-img{
        width: 32px;
    }
    
    #menu-btn:active{
        opacity: .6;
    }
    
    #menu-btn.clicked{
        opacity: .6;
    }
    
    #header_links.menu-open{
        display: block;
        margin-left: 0;
        margin-top: 0px;
    }
    
    #hl1{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: black;
        background: transparent;
        text-decoration: none;
        text-align: center;
        margin-left: 0;
    }
    
    #hl{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: black;
        background: transparent;
        text-decoration: none;
        text-align: center;
        margin-left: 0;
    }


    /* static 1 */
    #static{
        padding-top: 58px;
        width: 104.5%;
        margin-left: -8px;
        padding-bottom: 120px;
    
        background-image: url("images/mare.jpg");
        background-attachment: fixed;
        background-position: center;
        background-position-y: center;
        background-size: cover;
    }

    #st-con{
        margin-left: 15px;
        margin-right: 14px;
        margin-top: 65px;
        background-color: rgba(241, 241, 241, 0.94);
        width: fit-content;
        border-radius: 21px;
        padding: 15px;
        padding-top: 60px;
        padding-bottom: 55px;
    }

    #st-title{
        font-family: "Rokkitt", serif;
        font-weight: 800;
        font-size: 40px;
        color: rgb(36, 36, 36);
        margin: 0;
    }
    
    #st-cap{
        font-family: 'Rokkitt', serif;
        font-weight: 500;
        font-size: 18px;
    }


    /* real */
    #real{
        padding-top: 108px;
        width: 104.5%;
        padding-bottom: 100px;
        padding-top: 100px;
    
        background-image: url("images/wedding castle.jpg");
        background-attachment: fixed;
        background-position: center;
        background-position-y: center;
        background-size: cover;
    }
    
    #real-con{
        text-align: center;
    }
    
    #real-con2{
        margin-top: 100px;
        width: auto;
    }
    
    #real-cap{
        position: relative;
        margin: 0;
        margin-top: 40px;
        margin-inline: 12px;
        left: 0;
        transform: none;
        background: rgba(225, 225, 225, 0.899);
        border-radius: 21px;
        width: auto;
        padding: 5px;
    }
    
    #real-title{
        font-family: "Rokkitt", serif;
        font-weight: 700;
        font-size: 33px;
        color: rgb(40, 40, 40);
        background-color: rgba(225, 225, 225, 0.899);
        border-radius: 21px;
        width: auto;
        margin-inline: 12px;
        text-align: center;
        padding: 20px;
    }
    
    #real-title2{
        font-family: "Rokkitt", serif;
        font-weight: 700;
        font-size: 33px;
        color: rgb(40, 40, 40);
        background-color: rgba(225, 225, 225, 0.899);
        border-radius: 21px;
        width: auto;
        margin-inline: 12px;
        text-align: center;
        padding: 20px;
    }
    
    #real-con-bottom{
        margin-inline: 12px;
        margin-top: 40px;
        width: auto;
    }
    
    #real-con-bottom-box1, #real-con-bottom-box{
        float: none;
        width: auto;
        height: auto;
        background-color: rgba(225, 225, 225, 0.793);
        border-radius: 21px;
        padding: 4px;
    }
    
    #real-con-bottom-box1{
        margin: 0px;
    }
    
    #real-con-bottom-box{
        margin: 0;
        margin-top: 40px;
    }
    
    #real-con-bottom-text{
        font-family: "rokkitt", serif;
        font-weight: 500;
        font-size: 18px;
    }


    /* video bg yt */
    #video_bg-container{
        padding: auto;
        border-bottom: none;
        width: 104.5%;
        height: auto;
        margin-left: -8px;
        padding-bottom: 3.2px;

        background: rgb(20, 20, 20);
        background-attachment: fixed;
        background-position: center;
        background-position-y: center;
        background-size: cover;
    }

    #bg-video{
        width: 100%;
        height: 300px;
        margin: 0;
    }

    #video_bg-cap{
        position: absolute;
        width: max-content;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -1155px;
        margin: auto;
    }

    #video_bg-button{    
        background-color: #FFCC00;
        border: 3px solid #FFCC00;
        padding: 18px;
        width: 100px;
        outline: none;
        text-align: center;
    }

    #video_bg-link{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: rgb(0, 0, 0);
        background: transparent;
        text-decoration: none;
    }

    #video_bg-button:hover{
        background: transparent;
        transition-duration: 0.2s;

        #video_bg-link{
            color: yellow;
            transition-duration: .2s;
        }
    }

    /* Portfolio refference */
    #static-portf{
        margin-top: 0px;
        padding-top: 50px;
        width: 104.5%;
        margin-left: -8px;
        padding-bottom: 110px;

        background-image: url(images/munte.jpg);
        background-attachment: fixed;
        background-position: center;
        background-position-y: center;
        background-size: cover;
    }

    /* footer */
    #footer{
        padding-top: 18px;
        padding-bottom: 60px;
        background: rgb(22, 22, 22);
        width: 104.5%;
        margin-left: -8px;
        margin-bottom: -8px;
    }

    #f-cap{
        margin-inline: 18px;
    }

    #f-logo{
        width: 100px;
    }

    #footer-text{
        color: rgb(200, 200, 200);
        font-size: 14px;
        font-family: 'Noticia Text', serif;
    }

    #f-link{
        color: rgb(200, 200, 200);
        font-size: 14px;
        font-family: 'Noticia Text', serif;
        text-decoration: underline;
        text-decoration-color: white;
    }

    #f-link:hover{
        color: rgb(255, 73, 73);
        text-decoration-color: rgb(255, 65, 65);
        transition-duration: .2s;
    }
}


@media only screen and (max-width: 386px) {
    #video_bg-cap{
        position: absolute;
        width: max-content;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -1405px;
        margin: auto;
    }
}

@media only screen and (max-width: 331px) {
    #video_bg-cap{
        position: absolute;
        width: max-content;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -1555px;
        margin: auto;
    }
}

@media only screen and (max-width: 359px) {
    body{
        width: 100.3%;
    }
}