#header{
    top: 0;
}

#footer{
    position: relative;
    width: 105%;
    margin-left: -8px;
}

#img-stack{
    width: 100%;
}

#stack-img{
    width: 100%;
    margin-bottom: 50px;
}